<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858393538266-lj8a6hbbv48dh2rjimlt4kpdsccbviff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858393538266-lj8a6hbbv48dh2rjimlt4kpdsccbviff</string>
	<key>API_KEY</key>
	<string>AIzaSyAmUmTfjrUSw7SlZZOu6oaWVmoYR9uvuQ8</string>
	<key>GCM_SENDER_ID</key>
	<string>858393538266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dough</string>
	<key>PROJECT_ID</key>
	<string>dough-16aee</string>
	<key>STORAGE_BUCKET</key>
	<string>dough-16aee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858393538266:ios:aafbf7efd909424753bfe3</string>
</dict>
</plist>